In [1]:
import mysql.connector as conn
mydb = conn.connect(host = 'localhost', user= 'root', password = '#GDG2305gd01#')
cursor= mydb.cursor()

In [2]:
mydb

In [3]:
cursor.execute("use Organization")
cursor.execute("show tables")
cursor.fetchall()

[('bonus',), ('worker',)]

In [4]:
cursor.execute("select * from Organization.Worker")
cursor.fetchall()

[(1, 'Monika', 'Arora', 100000, datetime.datetime(2014, 2, 20, 9, 0), 'HR'),
 (2,
  'Niharika',
  'Verma',
  80000,
  datetime.datetime(2014, 6, 11, 9, 0),
  'Admin'),
 (3, 'Vishal', 'Singhal', 300000, datetime.datetime(2014, 2, 20, 9, 0), 'HR'),
 (4,
  'Amitabh',
  'Singh',
  500000,
  datetime.datetime(2014, 2, 20, 9, 0),
  'Admin'),
 (5, 'Vivek', 'Bhati', 500000, datetime.datetime(2014, 6, 11, 9, 0), 'Admin'),
 (6,
  'Vipul',
  'Diwan',
  200000,
  datetime.datetime(2014, 6, 11, 9, 0),
  'Account'),
 (7,
  'Satish',
  'Kumar',
  75000,
  datetime.datetime(2014, 1, 20, 9, 0),
  'Account'),
 (8,
  'Geetika',
  'Chauhan',
  90000,
  datetime.datetime(2014, 4, 11, 9, 0),
  'Admin'),
 (1, 'Monika', 'Arora', 100000, datetime.datetime(2014, 2, 20, 9, 0), 'HR'),
 (2,
  'Niharika',
  'Verma',
  80000,
  datetime.datetime(2014, 6, 11, 9, 0),
  'Admin'),
 (3, 'Vishal', 'Singhal', 300000, datetime.datetime(2014, 2, 20, 9, 0), 'HR'),
 (4,
  'Amitabh',
  'Singh',
  500000,
  datetime.datetime(2014, 2, 20, 9, 0),
  'Admin'),
 (5, 'Vivek', 'Bhati', 500000, datetime.datetime(2014, 6, 11, 9, 0), 'Admin'),
 (6,
  'Vipul',
  'Diwan',
  200000,
  datetime.datetime(2014, 6, 11, 9, 0),
  'Account'),
 (7,
  'Satish',
  'Kumar',
  75000,
  datetime.datetime(2014, 1, 20, 9, 0),
  'Account'),
 (8,
  'Geetika',
  'Chauhan',
  90000,
  datetime.datetime(2014, 4, 11, 9, 0),
  'Admin')]

In [12]:
#Q-1. Write an SQL query to print details of workers excluding first names, “Vipul” and “Satish” from Worker table.

cursor.execute("Select * from Organization.Worker where FIRST_NAME not in ('Vipul','Satish')")
cursor.fetchall()

[(1, 'Monika', 'Arora', 100000, datetime.datetime(2014, 2, 20, 9, 0), 'HR'),
 (2,
  'Niharika',
  'Verma',
  80000,
  datetime.datetime(2014, 6, 11, 9, 0),
  'Admin'),
 (3, 'Vishal', 'Singhal', 300000, datetime.datetime(2014, 2, 20, 9, 0), 'HR'),
 (4,
  'Amitabh',
  'Singh',
  500000,
  datetime.datetime(2014, 2, 20, 9, 0),
  'Admin'),
 (5, 'Vivek', 'Bhati', 500000, datetime.datetime(2014, 6, 11, 9, 0), 'Admin'),
 (8,
  'Geetika',
  'Chauhan',
  90000,
  datetime.datetime(2014, 4, 11, 9, 0),
  'Admin'),
 (1, 'Monika', 'Arora', 100000, datetime.datetime(2014, 2, 20, 9, 0), 'HR'),
 (2,
  'Niharika',
  'Verma',
  80000,
  datetime.datetime(2014, 6, 11, 9, 0),
  'Admin'),
 (3, 'Vishal', 'Singhal', 300000, datetime.datetime(2014, 2, 20, 9, 0), 'HR'),
 (4,
  'Amitabh',
  'Singh',
  500000,
  datetime.datetime(2014, 2, 20, 9, 0),
  'Admin'),
 (5, 'Vivek', 'Bhati', 500000, datetime.datetime(2014, 6, 11, 9, 0), 'Admin'),
 (8,
  'Geetika',
  'Chauhan',
  90000,
  datetime.datetime(2014, 4, 11, 9, 0),
  'Admin')]

In [13]:
#Q-2. Write an SQL query to print details of the Workers whose FIRST_NAME ends with ‘h’ and contains six alphabets.

cursor.execute("Select * from Organization.Worker where FIRST_NAME like '_____h'")
cursor.fetchall()

[(7,
  'Satish',
  'Kumar',
  75000,
  datetime.datetime(2014, 1, 20, 9, 0),
  'Account'),
 (7,
  'Satish',
  'Kumar',
  75000,
  datetime.datetime(2014, 1, 20, 9, 0),
  'Account')]

In [14]:
#Q-3. Write a query to validate Email of Employee.

cursor.execute("Select * from Organization.Worker where EMAIL_ID LIKE '%@gmail.com'")
cursor.fetchall()

ProgrammingError: 1054 (42S22): Unknown column 's_email' in 'where clause'