In [1]:
import mysql.connector as conn
mydb = conn.connect(host = 'localhost', user= 'root', password = '#GDG2305gd01#')
cursor= mydb.cursor()

In [3]:
mydb

In [4]:
cursor.execute("use Organization")
cursor.execute("show tables")
cursor.fetchall()

[('bonus',), ('worker',)]

In [5]:
cursor.execute("select * from Organization.Worker")
cursor.fetchall()

[(1, 'Monika', 'Arora', 100000, datetime.datetime(2014, 2, 20, 9, 0), 'HR'),
 (2,
  'Niharika',
  'Verma',
  80000,
  datetime.datetime(2014, 6, 11, 9, 0),
  'Admin'),
 (3, 'Vishal', 'Singhal', 300000, datetime.datetime(2014, 2, 20, 9, 0), 'HR'),
 (4,
  'Amitabh',
  'Singh',
  500000,
  datetime.datetime(2014, 2, 20, 9, 0),
  'Admin'),
 (5, 'Vivek', 'Bhati', 500000, datetime.datetime(2014, 6, 11, 9, 0), 'Admin'),
 (6,
  'Vipul',
  'Diwan',
  200000,
  datetime.datetime(2014, 6, 11, 9, 0),
  'Account'),
 (7,
  'Satish',
  'Kumar',
  75000,
  datetime.datetime(2014, 1, 20, 9, 0),
  'Account'),
 (8,
  'Geetika',
  'Chauhan',
  90000,
  datetime.datetime(2014, 4, 11, 9, 0),
  'Admin'),
 (1, 'Monika', 'Arora', 100000, datetime.datetime(2014, 2, 20, 9, 0), 'HR'),
 (2,
  'Niharika',
  'Verma',
  80000,
  datetime.datetime(2014, 6, 11, 9, 0),
  'Admin'),
 (3, 'Vishal', 'Singhal', 300000, datetime.datetime(2014, 2, 20, 9, 0), 'HR'),
 (4,
  'Amitabh',
  'Singh',
  500000,
  datetime.datetime(2014, 2, 20, 9, 0),
  'Admin'),
 (5, 'Vivek', 'Bhati', 500000, datetime.datetime(2014, 6, 11, 9, 0), 'Admin'),
 (6,
  'Vipul',
  'Diwan',
  200000,
  datetime.datetime(2014, 6, 11, 9, 0),
  'Account'),
 (7,
  'Satish',
  'Kumar',
  75000,
  datetime.datetime(2014, 1, 20, 9, 0),
  'Account'),
 (8,
  'Geetika',
  'Chauhan',
  90000,
  datetime.datetime(2014, 4, 11, 9, 0),
  'Admin')]

In [6]:
# Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side.

cursor.execute("SELECT RTRIM(FIRST_NAME) from Organization.Worker")
cursor.fetchall()

[('Monika',),
 ('Niharika',),
 ('Vishal',),
 ('Amitabh',),
 ('Vivek',),
 ('Vipul',),
 ('Satish',),
 ('Geetika',),
 ('Monika',),
 ('Niharika',),
 ('Vishal',),
 ('Amitabh',),
 ('Vivek',),
 ('Vipul',),
 ('Satish',),
 ('Geetika',)]

In [9]:
# Write an SQL query that fetches the unique values of DEPARTMENT from Worker table and prints its length.

cursor.execute("Select DISTINCT Length (Department) from Organization.Worker")
cursor.fetchall()

[(2,), (5,), (7,)]

In [1]:
# Write an SQL query to fetch nth max salaries from a table.
import mysql.connector as conn
mydb = conn.connect(host = 'localhost', user= 'root', password = '#GDG2305gd01#')
cursor= mydb.cursor()
mydb

cursor.execute("Select FIRST_NAME, LAST_NAME, SALARY from Organization.Worker Order By Salary Desc OFFSET 9 ROWS FETCH NEXT 1 ROWS ONLY")
cursor.fetchall()

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'OFFSET 9 ROWS FETCH NEXT 1 ROWS ONLY' at line 1