In [30]:
import mysql.connector as conn
mydb = conn.connect(host = 'localhost', user= 'root', password = '#GDG2305gd01#')
cursor= mydb.cursor()

In [31]:
mydb

In [32]:
cursor.execute("use Organization")
cursor.execute("show tables")
cursor.fetchall()

[('bonus',),
 ('worker',),
 ('workerclone',),
 ('workerclone1',),
 ('workerclone2',)]

In [33]:
cursor.execute("select * from Organization.Worker")
cursor.fetchall()

[(1, 'Monika', 'Arora', 100000, datetime.datetime(2014, 2, 20, 9, 0), 'HR'),
 (2,
  'Niharika',
  'Verma',
  80000,
  datetime.datetime(2014, 6, 11, 9, 0),
  'Admin'),
 (3, 'Vishal', 'Singhal', 300000, datetime.datetime(2014, 2, 20, 9, 0), 'HR'),
 (4,
  'Amitabh',
  'Singh',
  500000,
  datetime.datetime(2014, 2, 20, 9, 0),
  'Admin'),
 (5, 'Vivek', 'Bhati', 500000, datetime.datetime(2014, 6, 11, 9, 0), 'Admin'),
 (6,
  'Vipul',
  'Diwan',
  200000,
  datetime.datetime(2014, 6, 11, 9, 0),
  'Account'),
 (7,
  'Satish',
  'Kumar',
  75000,
  datetime.datetime(2014, 1, 20, 9, 0),
  'Account'),
 (8,
  'Geetika',
  'Chauhan',
  90000,
  datetime.datetime(2014, 4, 11, 9, 0),
  'Admin'),
 (1, 'Monika', 'Arora', 100000, datetime.datetime(2014, 2, 20, 9, 0), 'HR'),
 (2,
  'Niharika',
  'Verma',
  80000,
  datetime.datetime(2014, 6, 11, 9, 0),
  'Admin'),
 (3, 'Vishal', 'Singhal', 300000, datetime.datetime(2014, 2, 20, 9, 0), 'HR'),
 (4,
  'Amitabh',
  'Singh',
  500000,
  datetime.datetime(2014, 2, 20, 9, 0),
  'Admin'),
 (5, 'Vivek', 'Bhati', 500000, datetime.datetime(2014, 6, 11, 9, 0), 'Admin'),
 (6,
  'Vipul',
  'Diwan',
  200000,
  datetime.datetime(2014, 6, 11, 9, 0),
  'Account'),
 (7,
  'Satish',
  'Kumar',
  75000,
  datetime.datetime(2014, 1, 20, 9, 0),
  'Account'),
 (8,
  'Geetika',
  'Chauhan',
  90000,
  datetime.datetime(2014, 4, 11, 9, 0),
  'Admin')]

In [5]:
#Q-13. Write an SQL query to show only odd rows from aÂ table.

cursor.execute("Select * from Organization.Worker where MOD (WORKER_ID, 2) <> 0")
cursor.fetchall()

[(1, 'Monika', 'Arora', 100000, datetime.datetime(2014, 2, 20, 9, 0), 'HR'),
 (3, 'Vishal', 'Singhal', 300000, datetime.datetime(2014, 2, 20, 9, 0), 'HR'),
 (5, 'Vivek', 'Bhati', 500000, datetime.datetime(2014, 6, 11, 9, 0), 'Admin'),
 (7,
  'Satish',
  'Kumar',
  75000,
  datetime.datetime(2014, 1, 20, 9, 0),
  'Account'),
 (1, 'Monika', 'Arora', 100000, datetime.datetime(2014, 2, 20, 9, 0), 'HR'),
 (3, 'Vishal', 'Singhal', 300000, datetime.datetime(2014, 2, 20, 9, 0), 'HR'),
 (5, 'Vivek', 'Bhati', 500000, datetime.datetime(2014, 6, 11, 9, 0), 'Admin'),
 (7,
  'Satish',
  'Kumar',
  75000,
  datetime.datetime(2014, 1, 20, 9, 0),
  'Account')]

In [17]:
#Q-14. Write an SQL query to clone a new table from another table.

cursor.execute("CREATE TABLE WorkerClone2 Like Organization.Worker")
cursor.fetchall()

[]

In [34]:
cursor.execute("INSERT INTO workerclone2 Select * FROM Organization.Worker WHERE WORKER_ID > 1")
cursor.fetchall()

[]